* {
  color: white;
  background-color: black;
  width: calc(96%);
  margin: calc(2%);
}

figure {
  background-color: DimGrey;
  text-align: center;
}
h1 {
}

h2{
  margin-bottom: 0px;
}
p{
  margin-top: 0px;
  text-align: left;
}

article {
  padding: 2px;
  background-color: DimGrey;
}

article ul, article li, article a, article h2, article, article p, article h1, article time {
  background-color: DimGrey;
}

